.nav{
top:0;
left:0;
background-color: blue;
display: block;
width: 100%;
border:  solid 2px black;
position: fixed;



}


.nav ul {
list-style: none;




}

.nav ul li{


    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: #fff;
    margin: 10px;
}